<section id="conocenosTeam" class="packages" th:fragment="mensajeIdeal">
    <section id="team" class="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title" data-aos="fade-right">
                        <h2>Equipo 5 EOI</h2>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-4 mt-4">
                            <div class="member" data-aos="zoom-in" data-aos-delay="100">
                                <div class="pic">
                                    <img
                                            src="assets/img/team/MigueEscudero.png"
                                            class="img-fluid"
                                            alt=""
                                    />
                                </div>
                                <div class="member-info">
                                    <h4>Miguel Escudero Jiménez</h4>
                                    <span>Programador Java Junior</span>
                                    <p>
                                        Desarrollo de Aplicaciones Web y experiencia en tecnologías como Java, Spring Boot, JPA, Hibernate, HTML, Bootstrap y Thymeleaf.
                                        Actualmente estoy ampliando mis habilidades participando activamente en proyectos de equipo que aplican estas tecnologías para crear soluciones innovadoras.
                                    </p>
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/miguel-angel-escudero/"> <i class="ri-linkedin-box-fill"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4">
                            <div class="member" data-aos="zoom-in" data-aos-delay="300">
                                <div class="pic">
                                    <img
                                            src="assets/img/team/AndyChen.png"
                                            class="img-fluid"
                                            alt=""
                                    />
                                </div>
                                <div class="member-info">
                                    <h4>Andy Chen Cheng</h4>
                                    <span>Programador Java Junior</span>
                                    <p>
                                        Desarrollo de Aplicaciones Web y experiencia en tecnologías como Java, Spring Boot, JPA, Hibernate, HTML, Bootstrap y Thymeleaf.
                                        Actualmente estoy ampliando mis habilidades participando activamente en proyectos de equipo que aplican estas tecnologías para crear soluciones innovadoras.
                                    </p>
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/andy-chen-cheng/"> <i class="ri-linkedin-box-fill"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4">
                            <div class="member" data-aos="zoom-in" data-aos-delay="400">
                                <div class="pic">
                                    <img
                                            src="assets/img/team/JuanmiC.png"
                                            class="img-fluid"
                                            alt=""
                                    />
                                </div>
                                <div class="member-info">
                                    <h4>Juan Miguel Costa Lucena</h4>
                                    <span>Programador Java Junior</span>
                                    <p>
                                        Desarrollo de Aplicaciones Web y experiencia en tecnologías como Java, Spring Boot, JPA, Hibernate, HTML, Bootstrap y Thymeleaf.
                                        Actualmente estoy ampliando mis habilidades participando activamente en proyectos de equipo que aplican estas tecnologías para crear soluciones innovadoras.
                                    </p>
                                    <div class="social">
                                        <a href="https://www.linkedin.com/in/juan-miguel-costa-lucena-desarrollador/"> <i class="ri-linkedin-box-fill"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>