<section id="conocenosIntro" class="packages" th:fragment="mensajeIdeal">
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="intro_image">
                        <img src="images/intro.png" alt="" />
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="intro_content">
                        <div class="intro_title">Las mejores experiencias</div>
                        <p class="intro_text">
                         Ofrecemos hoteles seleccionados por su lujo, comodidad, y excelente servicio en ubicaciones estratégicas, con tarifas exclusivas y promociones especiales.
                         Proporcionamos una variedad de actividades y tours de alta calidad para todos los intereses, trabajando con los mejores proveedores locales a precios competitivos.
                         Garantizamos vuelos económicos y de calidad, gracias a nuestro avanzado sistema de búsqueda y nuestras colaboraciones con aerolíneas globales para ofrecer tarifas y promociones exclusivas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>