<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Detalles Vuelo</title>
    <meta charset="utf-8" />
    <link rel="icon" sizes="16x16 32x32 64x64" href="/images/AAAfavicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/AAAfavicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Travelix Project" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link
      th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      th:href="@{/plugins/colorbox/colorbox.css}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/plugins/OwlCarousel2-2.2.1/animate.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/styles/single_listing_styles.css}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/styles/single_listing_responsive.css}"
    />
  </head>

  <body>
    <div class="super_container">
      <!-- Header -->

      <header th:replace="~{fragments/plantilla :: header}"></header>
      <div th:replace="~{fragments/plantilla :: navMobile}"></div>

      <!-- Home -->

      <div class="home">
        <div
          class="home_background parallax-window"
          data-parallax="scroll"
          data-image-src="/images/single_background.jpg"
        ></div>
        <div class="home_content">
          <div class="home_title" th:text="${vuelo.nombre}">Oferta</div>
        </div>
      </div>

      <!-- Offers -->

      <div class="listing">
        
        <!-- Single Listing -->

        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="single_listing">
                <!-- vuelo Info -->

                <div class="hotel_info">
                  <!-- Title -->
                  <div
                    class="hotel_title_container d-flex flex-lg-row flex-column gap-lg-5"
                  >
                    <div class="hotel_title_content">
                      <h1 class="hotel_title" th:text="${vuelo.nombre}">Nombre vuelo</h1>
                      <div class="hotel_location"
                           th:text="'Origen: ' + ${vuelo.origen.nombre} + ', '
                           + ' Destino: ' +  ${vuelo.destino.nombre}">
                        Origen y Destino del Vuelo
                      </div>
                      <div th:text="'Fecha Salida: ' + ${vuelo.fechaSalida}"></div>
                      <div th:text="'Fecha Llegada: ' + ${vuelo.fechaLlegada}"></div>
                    </div>
                  </div>

                  <!-- Image -->

                  <div class="hotel_image" th:object="${vuelo}">
                    <img th:src="@{'/imagenes/' + ${imagenVuelo}}" alt="Imagen del vuelo" />
                  </div>

                  <!-- vuelo Info Text -->
                  <div class="hotel_info_text">
                    <p th:text="${vuelo.descripcion}">
                      Descripción del vuelo
                    </p>
                  </div>

                  <div id="seat-map" class="col d-flex bg-dark">
                    <div th:each="categoria : ${asientosPorCategoria.entrySet()}" class="seat-category">
                      <div class="category-name text-center" th:text="${categoria.key}">Categoría</div>
                      <div th:each="asiento : ${categoria.value}"
                           th:classappend="'seat ' + ${asiento.categoria + ' ' + (asiento.reservado ? 'reservado' : '')}"
                           th:data-asientoNumero="${asiento.numero}"
                           th:data-precio="${asiento.precio}"
                           th:onclick="'openModal(' + ${asiento.id} + ',' + ${vuelo.id} + ', this)'">
                        <div th:text="${asiento.numero}"></div>
                        <div th:text="${asiento.precio + ' €'}"></div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>


                <!-- Modal de Confirmación -->
                  <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header d-flex justify-content-between">
                          <h5 class="modal-title" id="confirmModalLabel">Confirmar Reserva</h5>
                          <button type="button" class="close px-2 py-1 rounded-1" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          ¿Estás seguro de que deseas reservar el asiento <span id="seatNumber"></span> en este vuelo?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                          <button type="button" class="btn btn-primary" onclick="submitReservation()">Confirmar</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Formulario de Reserva (oculto) -->
                  <form id="reservation-form" th:action="@{/reservas/asiento/reservar}" method="post" style="display:none;">
                    <input type="hidden" name="idAsiento" id="idAsiento">
                    <input type="hidden" name="idVuelo" id="idVuelo">
                    <input type="hidden" name="precioTotal" id="precioTotal">
                    <div class="form-group mb-3">
                      <label for="fechaInicio" class="form-label">Fecha Salida:</label>
                      <input
                              readonly
                              type="datetime-local"
                              name="fechaInicio"
                              id="fechaInicio"
                              class="form-control"
                              th:value="${vuelo.fechaSalida}"
                      />
                    </div>
                    <div class="form-group mb-3">
                      <label for="fechaFin" class="form-label">Fecha Llegada:</label>
                      <input
                              readonly
                              type="datetime-local"
                              name="fechaFin"
                              id="fechaFin"
                              class="form-control"
                              th:value="${vuelo.fechaLlegada}"
                      />
                    </div>
                    <div class="form-group mb-3">
                      <label for="metodoPagoId">Método Pago:</label>
                      <select class="form-control" name="metodoPagoId" id="metodoPagoId">
                        <option
                                th:each="metodoPago : ${metodosPago}"
                                th:value="${metodoPago.id}"
                                th:text="${metodoPago.metodo}"
                        ></option>
                      </select>
                    </div>
                  </form>

                </div>


                </div>
              </div>
            </div>
          </div>
        </div>


      <!-- Footer -->

      <footer th:replace="~{fragments/plantilla :: footer}"></footer>

      <!-- Copyright -->
      <div th:replace="~{fragments/plantilla :: copyright}"></div>
    </div>


    <script>
      let selectedSeatId;
      let selectedVueloId;
      let selectedSeatNumber;
      let selectedSeatPrice;

      function openModal(idAsiento, idVuelo, element) {
        selectedSeatId = idAsiento;
        selectedVueloId = idVuelo;
        selectedSeatNumber = element.getAttribute('data-asientoNumero');
        selectedSeatPrice = element.getAttribute('data-precio');

        document.getElementById('seatNumber').textContent = selectedSeatNumber;
        $('#confirmModal').modal('show');
      }

      function submitReservation() {
        document.getElementById('idAsiento').value = selectedSeatId;
        document.getElementById('idVuelo').value = selectedVueloId;
        document.getElementById('precioTotal').value = selectedSeatPrice;
        $('#reservation-form').submit(); // Envía el formulario solo si se confirma
      }
    </script>
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/plugins/easing/easing.js}"></script>
    <script th:src="@{/plugins/parallax-js-master/parallax.min.js}"></script>
    <script th:src="@{/plugins/colorbox/jquery.colorbox-min.js}"></script>
    <script th:src="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
    <script th:src="@{/js/offers_custom.js}"></script>
  </body>
</html>
