<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hoteles</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="Travelix Project" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous"
  />
  <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"
  ></script>
  <link
          th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}"
          rel="stylesheet"
          type="text/css"
  />
  <link rel="stylesheet" type="text/css" th:href="@{/styles/reservaHabitacion_style.css}" />
  <link
          rel="stylesheet"
          type="text/css"
          th:href="@{/styles/reservaHabitacion_responsive.css}"
  />
</head>

<body>
<div class="super_container">
  <!-- Header -->
  <header th:replace="~{fragments/plantilla :: header}"></header>
  <div th:replace="~{fragments/plantilla :: navMobile}"></div>

  <!-- Home -->
  <div class="home">
    <div
            class="home_background parallax-window"
            data-parallax="scroll"
            th:attr="data-image-src=@{/images/blog_background.jpg}"
    ></div>
    <div class="home_content">
      <div class="home_title">Formalizar reserva</div>
    </div>
  </div>

  <div class="d-flex flex-column align-items-center py-3">
    <h1 class="text-center pt-3">Disponibilidad de Habitación</h1>
    <h2>Hotel: <span th:text="${habitacion.hotel.nombre}"></span>, Habitación: <span th:text="${habitacion.numero}"></span></h2>
    <h3>Rango de Fechas Consultado:</h3>
    <p class="my-0">Desde: <span th:text="${#temporals.format(fechaInicio, 'dd MMMM yyyy, HH:mm', #locale)}"></span></p>
    <p class="my-0">Hasta: <span th:text="${#temporals.format(fechaFin, 'dd MMMM yyyy, HH:mm', #locale)}"></span></p>
  </div>

  <div class="container">
    <h3>Fechas Disponibles:</h3>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr th:if="${!rangosDisponibles.isEmpty()}">
        <th scope="col">Inicio</th>
        <th scope="col">Fin</th>
        <th scope="col">Precio</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="intervalo : ${rangosDisponibles}">
        <td th:text="${#temporals.format(intervalo.start, 'dd MMMM yyyy, HH:mm', #locale)}"></td>
        <td th:text="${#temporals.format(intervalo.end, 'dd MMMM yyyy, HH:mm', #locale)}"></td>
        <td class="d-flex gap-3 align-items-center">
          <span th:text="${intervalo.intervalPrice} + ' €'"></span>

          <!-- Botón modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalReserva">
            Reservar
          </button>

          <!-- Modal -->
          <div class="modal fade" id="modalReserva" tabindex="-1" aria-labelledby="labelModalReserva" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="labelModalReserva">Reservar Habitación</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="modalReservaForm" th:action="@{/reservas/habitacion/{idHabitacion}/reservar(idHabitacion=${habitacion.id})}" method="post" class="d-inline-block">
                    <div class="form-group mb-3">
                      <label for="fechaInicio" class="form-label">Fecha Inicio:</label>
                      <input readonly type="datetime-local" name="fechaInicio" id="fechaInicio" class="form-control" th:value="${intervalo.start}" />
                    </div>
                    <div class="form-group mb-3">
                      <label for="fechaFin" class="form-label">Fecha Fin:</label>
                      <input readonly type="datetime-local" name="fechaFin" id="fechaFin" class="form-control" th:value="${intervalo.end}" />
                    </div>
                    <div class="form-group mb-3">
                      <label for="precioTotal" class="form-label">Precio Total:</label>
                      <div class="input-group">
                        <span class="input-group-text">€</span>
                        <input readonly type="number" name="precioTotal" id="precioTotal" class="form-control" th:value="${intervalo.intervalPrice}"/>
                      </div>
                    </div>
                    <div class="form-group mb-3">
                      <label for="metodoPagoId">Método Pago:</label>
                      <select class="form-control" name="metodoPagoId" id="metodoPagoId">
                        <option th:each="metodoPago : ${metodosPago}" th:value="${metodoPago.id}" th:text="${metodoPago.metodo}"></option>
                      </select>
                    </div>
                  </form>
                </div>
                <div class="modal-footer justify-content-start">
                  <button type="submit" form="modalReservaForm" class="btn btn-primary">Confirmar Reserva</button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>


        </td>
      </tr>
      <tr th:if="${rangosDisponibles.isEmpty()}">
        <td colspan="3" class="text-center text-danger">No disponible!</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-center pb-5">
  <a th:href="@{/reservas/habitacion/reservar/{id}(id=${habitacion.id})}" class="btn btn-secondary">Volver a Buscar Disponibilidad</a>
  </div>
</div>

<!-- Footer -->
<footer th:replace="~{fragments/plantilla :: footer}"></footer>

<!-- Copyright -->
<div th:replace="~{fragments/plantilla :: copyright}"></div>

<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/plugins/parallax-js-master/parallax.min.js}"></script>
<script th:src="@{/js/offers_custom.js}"></script>
</body>
</html>
