<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Precios</title>
    <meta charset="utf-8" />
    <link rel="icon" sizes="16x16 32x32 64x64" href="/images/AAAfavicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/AAAfavicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Travelix Project" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
    />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link
            th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}"
            rel="stylesheet"
            type="text/css"
    />
    <link
            th:href="@{/plugins/colorbox/colorbox.css}"
            rel="stylesheet"
            type="text/css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.css}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/plugins/OwlCarousel2-2.2.1/owl.theme.default.css}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/plugins/OwlCarousel2-2.2.1/animate.css}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/styles/admin_styles.css}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            th:href="@{/styles/admin_responsive.css}"
    />
</head>
<body>

    <header th:replace="~{admin/fragments/fragmentos :: adminHeader}"></header>

    <div class="container main">

        <button type="button" class="btn btn-success mb-3">
            <a class="text-decoration-none text-white" th:href="@{'/admin/precios/crear'}">Crear Precio</a>
        </button>

        <table class="table table-striped">
            <thead>
                <th>Id</th>
                <th>Valor</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Habitacion</th>
                <th>Asiento</th>
                <th>Actividad</th>
                <th></th>
            </thead>
            <tbody>
                <tr th:each="precio : ${precios}">
                    <td th:text="${precio.id}"></td>
                    <td th:text="${precio.valor}"></td>
                    <td th:text="${precio.fechaInicio}"></td>
                    <td th:text="${precio.fechaFin}"></td>
                    <td th:if="${precio.habitacion != null}" th:text="${precio.habitacion.id}"></td>
                    <td th:if="${precio.habitacion == null}"></td>
                    <td th:if="${precio.asiento != null}" th:text="${precio.asiento.id}"></td>
                    <td th:if="${precio.asiento == null}"></td>
                    <td th:if="${precio.actividad != null}" th:text="${precio.actividad.id}"></td>
                    <td th:if="${precio.actividad == null}"></td>
                    <td class="d-flex gap-2 justify-content-end">
                        <form th:action="@{'/admin/precios/' + ${precio.id}}" th:method="get">
                            <button type="submit" class="btn btn-info"><i class="bi bi-pencil text-white"></i></button>
                        </form>
                        <form th:action="@{'/admin/precios/eliminar/' + ${precio.id}}" th:method="delete">
                            <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Paginación -->
        <div class="d-flex justify-content-center">
            <ul class="pagination d-flex gap-3" th:if="${page != null && !page.getContent().isEmpty()}">
                <!-- Página anterior -->
                <li th:if="${page.hasPrevious()}" class="page-item">
                    <a class="page-link"
                       th:href="@{/templates/admin/precios(page=${page.page - 1}, size=${page.size})}"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <!-- Páginas numeradas -->
                <li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
                    th:classappend="${i == page.page} ? 'page-item active' : 'page-item'">
                    <a class="page-link"
                       th:href="@{/templates/admin/precios(page=${i}, size=${page.size})}"
                       th:text="${i + 1}"></a>
                </li>

                <!-- Página siguiente -->
                <li th:if="${page.hasNext()}" class="page-item">
                    <a class="page-link"
                       th:href="@{/templates/admin/precios(page=${page.page + 1}, size=${page.size})}"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/plugins/easing/easing.js}"></script>
    <script th:src="@{/plugins/parallax-js-master/parallax.min.js}"></script>
    <script th:src="@{/plugins/colorbox/jquery.colorbox-min.js}"></script>
    <script th:src="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>

</body>
</html>